*{
    justify-content: center;      /* centra verticalmente */
    align-items: center;          /* centra horizontalmente */
    text-align: center; 
}

.mc {
    width: 100%;
    position: fixed;
    top: 0;
    background: rgb(40, 114, 211);
}

.navbar {
    display: flex;
    gap: 85px;
    padding: 10px;
}

.navbar > a {
    text-decoration: none;
    
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px 15px;
    background: rgb(238, 215, 215);
}


.T{
    margin-top: 80px;
}

.T ~ .t{
    font-size: 30px;
    margin-top: 5px; 
}
.T::after {
  content: "";
  display: block;
  width: 400%;
  height: 4px;
  background: rgb(221, 10, 10);
  margin: 10px auto 0;
  border-radius: 2px;
}

.container {
    max-width: 1100px;
}

.img {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    display: block;
}

.button {
    text-align: center;
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 16px; 
    border-radius: 12px;      
}

.button:hover {
  background: rgb(0, 217, 255);       
  transform: scale(1.05);
}
